
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.sidebar{
    width: 260px;
    background-color: white;
    min-height: 100vh;
}
.menu a:hover, .menu a.active {
	background: #F4F6FA;
    color: #3746A4;
    font-weight: 600;
}

.menu a {
	width: 100%;
	display: flex;
	padding: 12px 16px;
	border-radius: 10px;
	font-weight: 500;
	margin: 10px 0;
	align-items: center;
}

*{
    font-weight: 500;
}
.search {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-radius: 0;
    background: url("../img//search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left;
    padding-left: 25px;
    font-weight: 400;
}
.circle {
    width: 40px;
    height: 40px;
    background: #A3AAD5;
}

.circle-2{
    min-width: 30px;
    min-height: 30px;
    background: #A3AAD5;
}
.link {
    min-width: 24px;
    min-height: 24px;
    background: #F4F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.card.bg-white.m-2.w-1\/3.rounded-md:first-child {
    margin-left: 0;
}